@model IEnumerable<VillaAPIDemo_Web.Models.Dto.VillaDTO>

<div class="text-center"> 
    <h1 class="display-4">Welcome</h1>
<img src="https://i.pinimg.com/550x/16/10/87/1610870db659274b12246ea33a4cf316.jpg" width="1100" height="600" />
    
    
</div>
